@font-face{
    font-family: 'TickingTimebombBB_ital';/*nombre con el que se agrega la fuente*/
    src: url('./fonts/TickingTimebombBB_ital.otf')format('truetype');
}
* {
    margin: 0;
    font-size: 62,5%;
    color: aliceblue;
}
.body {
background-image:  linear-gradient(#2c2c2c 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #2c2c2c 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(#2c2c2c 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(90deg, #2c2c2c 0.7000000000000001px, #242424 0.7000000000000001px);
background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
background-position: -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px, -0.7000000000000001px -0.7000000000000001px, -0.7000000000000001px -0.7000000000000001px;
    font-family: 'Yanone Kaffeesatz','TickingTimebombBB_ital', sans-serif;
    min-width: 480px;
}
header{
    margin: 0 auto 0 auto;
}
.header-title {
    text-align: center;
    color: yellowgreen;
    font-size: 70px;
    text-shadow: 10px 20px 10px #000000;
    text-underline-offset: 20px;
    -webkit-text-stroke:2px black;
}
main {
    padding: 20px;
    height: auto;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;  
    min-width: 510px;
}

section{
    border: 4px Double  yellowgreen;
    border-radius: 3px;
    min-width: 510px;
    display: grid; 
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(5,auto);
    row-gap: 10px;
}
section:hover{
    background-color: rgba(0, 0, 0, 0.327);

}
.section-title{
    margin-top:20px;
    grid-column: 1/4;
    grid-row: 1/2;

}
.section-description{
    grid-column: 1/4;
    grid-row: 2/3;
}

.section-text-input, .calculate-button{
    grid-column: 1/2;
}

.section-input{
    padding: 2px 0 0 4px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #000000 ;
    border-color: yellowgreen;
    font-family: 'TickingTimebombBB_ital';
    font-size: 30px;
    grid-column: 2/3;
    -moz-appearance: textfield; /*oculta los botones del input en Firefox */ 
    appearance: textfield; /* oculta los botones en Otros navegadores */
    outline: none;
}
.section-input:focus{
    border-color: #09ff00; /* Cambiar el color del borde cuando se hace clic en el input con la clase "mi-input" */
}

.mathematical-operator{
 color: #9acd32;
 font-weight: bold;
    grid-column: 2/3;
    justify-self:start;
}

.section-result{
    justify-self:start;
    /* margin-top: 3px; */
}

.result{
    background-color: #00000073;
    border-radius: 5px;
    color: yellowgreen;
    font-family: 'TickingTimebombBB_ital';
    font-size: 35px;
    padding: 5px 7px 0px 5px;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn{
    background-color: #000000;
    border: 2px inset yellowgreen;
    border-radius: 5px;
    padding: 3px;
    font-size: 26px;
    justify-self:center;
}
.calculate-button{
    width: 100px;
    margin-bottom: 10px;
    padding: 0 0px;
}

.resistence-result-container{
    grid-column: 2/3;
    text-align: start;
}
.section-mah-a-button{
    width: 100px;
    width: 60px;
    padding-top: -5px;

}
.btn-info{
    font-family: 'TickingTimebombBB_ital';
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 35px;
}
#info{
    background-color: rgba(0, 0, 0, 0.527);
    min-height: 250px;
    z-index: 1;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(1,auto);
} 
.question-mark{
    font-family: 'TickingTimebombBB_ital';
    font: bolder;
    position: fixed;
    color: #09ff0048  ;
    user-select: none;
    font-size: 300px;
    width: 70%;
}
.dissable{
    display: none;
}

#info .info-page{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    text-align: start;
}
#info .info-page-selector-container{
    border-left: 4px  Double  yellowgreen;
    border-bottom: 4px  Double  yellowgreen;
    border-radius: 0px 0px 0px 40%;
    position: absolute;
    right: 20px;
    width: 50px;
    margin-right: 5px;
    background-color: #000000;
}

#info .info-page-selector-container .btn-info-selector{
    width: 50px;
    margin-right: 5px;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.0);
}
#info .info-page-selector-container .btn-info-selector-end{
    border-bottom: none;
}
#info .first-info-page .img-ohm-triangle{
    height: 250px;
    grid-column: 3/4;
    grid-row: 1/4;
    padding-top: 10px;
}
#info .first-info-page .first-page-text{
    grid-column: 1/3;
}
#info .first-info-page .first-page-ul{
    grid-column: 1/3;
}
#info .first-info-page .next-button{
    height: 40px;
    justify-self: start;
    grid-column: 1/3;
}



@media screen and (min-width: 1080px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 920px;
    }
.question-mark{
    width: 47%;
}
}
