:root{
    --primary-gray:rgb(31, 31, 31);
    --secondary-gray:#82868a;
    --primary-green:yellowgreen;
    --shining-green:#09ff00;
    --opaque-green:#09ff0048;
    --black:#000000;
    --transparent-black:rgba(0, 0, 0, 0.550);
    --transparent-black-2:rgba(0, 0, 0, 0.300);
}
@font-face{
    font-family: 'TickingTimebombBB_ital';/*nombre con el que se agrega la fuente*/
    src: url('../fonts/modifiedTickingTimebombBB-Italic.ttf')format('truetype');
}
* {
    margin: 0;
    font-size: 62,5%;
    color: aliceblue;
}
.body {
background-image:  linear-gradient(#2c2c2c 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #2c2c2c 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(#2c2c2c 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(90deg, #2c2c2c 0.7000000000000001px, #242424 0.7000000000000001px);
background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
background-position: -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px, -0.7000000000000001px -0.7000000000000001px, -0.7000000000000001px -0.7000000000000001px;
    font-family: 'Yanone Kaffeesatz','TickingTimebombBB_ital', sans-serif;
}
.header-title {
    text-align: center;
    color: var(--primary-green);
    font-size: 70px;
    text-shadow: 10px 20px 10px var(--black);
    margin:  .5% 0 .5% 0;
    -webkit-text-stroke:2px black;
}
main {
    padding: 20px;
    height: auto;
    background-color: var(--primary-gray);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;  
}
section{
    border: 4px Double  var(--primary-green);
    border-radius: 3px;
    display: grid; 
    grid-template-columns: 23% auto 15%;
    grid-template-rows: repeat(5,auto);
    row-gap: 10px;
    align-items: center;
    min-height: 350px;
}
section:hover{
    background-color: var(--transparent-black-2) /* rgba(0, 0, 0, 0.327) */;
}
.btn{
    background-color: var(--black);
    border: 2px inset var(--primary-green);
    border-radius: 5px;
    padding: 3px;
    font-size: 26px;
    justify-self:center;
}
.section-title{
    margin-top:10px;
    grid-column: 1/4;
    grid-row: 1/2;
}
.section-description{
    grid-column: 1/4;
    grid-row: 2/3;
}
 .section-text-input /* .calculate-button */{
    grid-column: 1/2;
    margin: -5px 0 5px 0;
}
.section-input-container{   
    background-color: var(--black) ;
    border-radius: 5px;
    border: solid 2px var(--primary-green);
    height: 40px;

}
.section-input-container .section-input{
    margin-top:3px;
    padding: 3px 0 0 4px;
    background-color: var(--black);
    border: none;
    width: 99%;
    height: 30px;
    font-family: 'TickingTimebombBB_ital';
    font-size: 30px;
    grid-column: 2/3;
    -moz-appearance: textfield; /*oculta los botones del input en Firefox */ 
    appearance: textfield; /* oculta los botones en Otros navegadores */
}
.input-mah{
     width: calc(100% - 60px) !important; 
}
.section-input:focus{ 
    outline: none;
}
#Amp-mAh-symbol-voltage, #Amp-mAh-symbol-resistance{
    width: 50px;
    margin: 0 auto ;
}
.section-input-container .btn-input{
    height: 33px;
    background-color: #00000000;
    color: var(--secondary-gray);
    border: none;
    border-left:solid 2px var(--primary-green);
    width: 50px;
}
.section-input-container .btn-input:hover, #btn-calc-stream-mah:hover{
    color: aliceblue;
}
.mathematical-operator{
 color: var(--primary-green);
 font-weight: bold;
    grid-column: 2/3;
    justify-self:start;
}
.section-result{
    grid-column:2/4;
    justify-self:start;
    display: inline-flex;
}
.result{
    background-color: var(--transparent-black);
    border-radius: 5px;
    color: var(--primary-green);
    font-family: 'TickingTimebombBB_ital';
    font-size: 35px;
    padding: 5px 7px 0px 5px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: -5px 0 5px 0;
}
.result-stream{
    padding: 0px 7px 0px 5px;
    background-color: transparent;
}
.result-steam-btn-containter{
    background-color: var(--transparent-black);
    margin: -5px 0 5px 0;
    border-radius: 5px;
}
.section-mah-button{
    font-family: 'Yanone Kaffeesatz';    
    padding-top: 7px;
    width: 60px;
    border: 0px ;
    border-left: 2px solid var(--primary-green);
    color: var(--secondary-gray);
}
.btn-info{
    grid-column: 1/2;
    grid-row:6/7;
    font-family: 'TickingTimebombBB_ital';
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 35px;
    margin: 0px 0 5px 0;
}
.btn-info a{
    color: aliceblue;
    text-decoration: none;
}
#info{
    background-color: var(--transparent-black);
    min-height: 250px;
    z-index: 1;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(1,auto);
} 
#info .info-page{
    padding: 1% 0 0% 1.5%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    text-align: start;
}
#info .info-page-selector-container{
    align-self:start; 
    border-left: 4px  Double  var(--primary-green);
    border-bottom: 4px  Double  var(--primary-green);
    border-radius: 0px 0px 0px 40%;
    position: absolute;
    right: 20px;
    margin-right: 4px;
    width: 50px;
    background-color: var(--black);
}
#info .info-page-selector-container .btn-info-selector{
    width: 50px;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.000)
}
#info .info-page-selector-container .btn-info-selector-end{
    border-bottom: none;
}
#info .first-info-page .img-ohm-triangle{
    height: 250px;
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 10px 10px 0 0;
}
#info .first-info-page .first-page-text{
    grid-column: 1/3;
}
#info .first-info-page .first-page-ul{
    grid-column: 1/3;
}
#info .first-info-page .btn-next{
    margin-top: 4%;
    height: 40px;
    justify-self: start;
    grid-column: 1/3;
}
#info .variable-info-page, .stream-info-page{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,.2fr);

}
#info .variable-info-page .variable-title {
    grid-column: 1/3;
    text-align: center;
}
#info .variable-info-page .variable-formula{
    padding-right: 56px;
    grid-row: 2/3;
    grid-column: 1/3;
}
#info .variable-info-page .btn-variable-reload{
    grid-row: 3/4;
    justify-self:start;
    width: 150px;
}
#info .variable-info-page .resitance-challenge{
    grid-column: 2/3;
    align-self: end;
    padding-left: 21%;
}
#info .variable-info-page .stream-challenge, .btn-stream-challenge{
    padding: 4% 0% 0 15%;
    grid-row: 6/8;
    grid-column: 2/3;
}
#info .variable-info-page .btn-reveal{
    width: 110px;
    height: 40px;
}
#info .variable-info-page .btn-voltage-challenge, .voltage-challenge{
    grid-row: 6/8;
    grid-column: 1/2;
    margin-right: 10%;
}
#info .voltage-challenge{
    margin-left: 40%;
}
#info .variable-info-page .btn-stream-challenge {
    margin: 2.2% 25% 0 0%   ;
    padding: 2% 0 0 0 ;
    width: 52%;
    height: 80%;
}
#info .variable-info-page .btn-resistence-challenge{
    margin-right: 40%;
}
#info .variable-info-page .img-example-circuit{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 4/9;  
    z-index: -1;
}
.dissable{
    display: none;
}
@media screen and (max-width: 700px) { /* tamaños menores a 700 */
    main{
        padding: 0;
    }
    section{
        grid-template-columns: 23% auto 10%;
        /* border-right:none ; */
        /* border-left: none; */
    }
    #info .info-page-selector-container{
        right: 0px;
        margin-right: 5px;
    }
    #info .first-info-page .img-ohm-triangle{
        height: 200px;
        /* padding: 40px 40px 0 0; */
    }
    #info .voltage-challenge{
        margin-left: 30%;
    }
}
@media screen and (min-width: 1080px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 920px;
    }
}
